#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-event {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.5fr 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.4);
  padding: 0.4rem 1rem;
  margin: 0.25rem 0;
  text-align: left;
}

.button-event:last-child {
  border-bottom: none;
}

.button-event-date {
  grid-column: 1;
  font-family: Consolas, Monaco, monospace;
  text-align: right;
}

.button-event-time {
  grid-column: 2;
  font-family: Consolas, Monaco, monospace;
  text-align: right;
}

.button-event-type {
  grid-column: 3;
  text-align: right;
}

.button-event-temp {
  grid-column: 4;
  font-family: Consolas, Monaco, monospace;
  text-align: right;
}

.button-event-lux {
  grid-column: 5;
  font-family: Consolas, Monaco, monospace;
  text-align: right;
}

